body{
	background-color:#202020;
	font-family:'News Cycle', 'Arial', 'sans-serif';
}
#main{
	margin:0 auto;
	width:960px;
	font-size:2em;
	color:#FFFFFF;
	letter-spacing: 4px;
}
h2#gimmeMore{
	height:40px;
	text-align:center;
	font-size:1em;
	margin:0;
	cursor:pointer;
}
#gimmeMoreSection{
	margin-top:40px;
}

a, a:visited{
	color:#FFFFFF;
	text-decoration : none;
}
ul#categorySelector{
	list-style-type:none;
	padding:0;
	width:960px;
	height:40px;
	margin:auto;
	margin-bottom:20px;
	text-align:center;
}
ul#categorySelector li{
	display:inline-block;
	width:100px;
	height:100%;
	text-align:center;
	cursor:pointer;
}

a.webItem img{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a.webItem img:hover{
	margin-top:-15px;
}

.greenButton{
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.greenButton:hover{
	background-color:#3BA515;
}

.letterPress{
    color: #000000;
    font-family:'Stardos Stencil';
    text-shadow: 0 1px 1px #3E3D3D;
}
.glow{
	text-shadow: 0 0 10px #fff;
	
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.no-textshadow .glow{
	color:#EFE3CA;
}

/*Specific*/
.sayHi{
	font-size:2em;
	margin-left:-5px;
}
.sayIAm{
	font-size:1.4em;
}
.mainDesc{
	margin-top:0px;
	text-align:justify;
}
.b5n{
	font-size:1.5em;
}


/* COLORS */
.linkedin:hover{
	color:#F89B31;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #F89B31, 0 0 30px #F89B31;
}
.twitter:hover{
	color:#FFAE08;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FFAE08, 0 0 30px #FFAE08;
}
.runkeeper:hover{
	color:#23478D;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #23478D, 0 0 30px #23478D;
}
.flickr:hover{
	color:#FF0084;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FF0084, 0 0 30px #FF0084;
}
.vimeo:hover{
	color:#388FC5;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #388FC5, 0 0 30px #388FC5;
}
.lastfm:hover{
	color:#C60E15;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #C60E15, 0 0 30px #C60E15;
}
.songkick:hover{
	color:#F70449;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #F70449, 0 0 30px #F70449;
}
.technical:hover{
	color:#F2FC7E;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #F2FC7E, 0 0 30px #F2FC7E;
}
.personal:hover{
	color:#7F0EF0;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #7F0EF0, 0 0 30px #7F0EF0;
}
.b5n:hover{
	color:#45ff3a;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #45ff3a, 0 0 30px #45ff3a;
}
